.blFooter{
    background-color: var(--trip-blue) !important;
    a{
        color: var(--trip-white);
        font-weight: 600 ;
    }  
    .company_info,
    .company_id{
        color: var(--trip-white) ;
        column-gap: 1.25rem; 
        row-gap: 0.25rem;
        padding-top: 0.25rem;
        font-size: var(--desc-text);
        i{
            font-style: normal;
        } 
        }
    .download_btn a{
        border: 1px solid var(--trip-white) !important;
        border-radius: 5px;
    }
    @media only screen and (max-width: 1280px){
        .container{
            flex-wrap: wrap;
            .footer_menu{
                order: 1;
                width: 100%;
                ul{
                    padding: 1.625rem 0;
                }
                .company_info,
                .company_id{
                    flex-wrap: wrap;
                }
            }
        }
    }
    @media only screen and (max-width: 768px){
        padding: 2rem 0;
        .footer_menu{
            ul{
                gap: 1rem;
                a{font-size: var(--m-small-text);}
            }
            .company_info,
            .company_id{
                padding-top: 0;
                padding-bottom: 1.25rem;
                flex-direction: column;
                font-size: var(--m-small-text);
            }
        }

        .download_btn a{
            font-size: var(--m-small-text);
        }
    }

}

.subFooter{
    background-color: var(--trip-gray2);
    .imgbox{
        img{height: 100%;}
    }
    .footer_menu{
        ul{
            padding-bottom: 0.25rem;
            a{
                font-size: var(--small-text); 
                font-weight: 600;
            }
        }
        .company_info,
        .company_id{
            column-gap: 1.25rem; 
            row-gap: 0.25rem;
            padding-top: 0.25rem;
            font-size: var(--desc-text);
            span{
                font-weight: 500;
            }
            i{
                font-style: normal;
            } 
        }
    }
    .download_btn a{
        font-size: var(--desc-text);
        border: 1px solid var(--trip-black);
        border-radius: 5px;
    }

    
    @media only screen and (max-width: 1280px){
        .container{
            flex-wrap: wrap;
            .footer_menu{
                order: 1;
                width: 100%;
                ul{
                    padding: 1.625rem 0;
                    gap: 1rem;
                }
                .company_info,
                .company_id{
                    flex-wrap: wrap;
                }
            }
        }
    }
    @media only screen and (max-width: 768px){
        padding: 2rem 0;
        .footer_menu{
            ul{
                gap: 1rem;
                a{font-size: var(--m-small-text);}
            }
            .company_info,
            .company_id{
                padding-top: 0;
                padding-bottom: 1.25rem;
                flex-direction: column;
                font-size: var(--m-small-text);
            }
        }

        .download_btn a{
            font-size: var(--m-small-text);
        }
    }

}