.quick{
    padding: 10px 0;
    position: fixed;
    left: 100%;
    top:50%;

    border-radius: 116.811px;
    background: var(--Trip-blue, #0051D3);

    width: 77.729px;
    height: 171.96px;
    flex-shrink: 0;
    transform: translateX(0);
    transition: 0.5s;
  
    z-index: 3000;
    display: flex;
    flex-direction: column; //수직축
    justify-content: space-between; //가운데로 

     li{      
        text-align: center;
        flex-grow: 1; //똑같이 나눔
        display: flex;
        flex-direction: column;
        justify-content: center;

            a{
                color: #FFDA00;
                font-size: var(--small-text,16px);   
                span{
                    font-size:var(--semismall-text,18px) ;
                    
                    }
            }
        &:nth-child(2){
            a{

            }
            // 큐알~
        }
        &:nth-child(3){
          
            a{
            
            }
                    }
    }

}

body.scrolled{
    #quick{
       transform: translateX(calc(-100% - 20px));
    }
}